## Final Project Submission

Please fill out:
* Student name: Stephen Turk
* Student pace: Part time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [2]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import zipfile

In [3]:
imdbtb = pd.read_csv('zippedData/imdb.title.basics.csv.gz')

In [4]:
imdbtb.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [5]:
imdbtb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
tconst             146144 non-null object
primary_title      146144 non-null object
original_title     146123 non-null object
start_year         146144 non-null int64
runtime_minutes    114405 non-null float64
genres             140736 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [7]:
imdbtb['genres'].nunique()

1085

In [8]:
genre_list = imdbtb['genres']

In [32]:
split_genre_list = []
for item in genre_list:
    item = str(item).split(',')
    split_genre_list += item
    

len(split_genre_list)

234958

In [49]:
from collections import Counter

In [50]:
unique_genres2 = Counter(split_genre_list)

In [51]:
unique_genres2

Counter({'Action': 10335,
         'Crime': 6753,
         'Drama': 49883,
         'Biography': 8722,
         'Comedy': 25312,
         'Fantasy': 3516,
         'Horror': 10805,
         'Thriller': 11883,
         'Adventure': 6465,
         'Animation': 2799,
         'Documentary': 51640,
         'History': 6225,
         'nan': 5408,
         'Mystery': 4659,
         'Sci-Fi': 3365,
         'Romance': 9372,
         'Family': 6227,
         'War': 1405,
         'Music': 4314,
         'Sport': 2234,
         'Western': 467,
         'Musical': 1430,
         'Adult': 25,
         'News': 1551,
         'Talk-Show': 50,
         'Reality-TV': 98,
         'Game-Show': 4,
         'Short': 11})

In [38]:
unique_genres = set(split_genre_list)

In [44]:
genre_dict = {}

for genre in unique_genres:
    genre_dict[genre] = split_genre_list.count(genre)
genre_dict

{'History': 6225,
 'Reality-TV': 98,
 'Thriller': 11883,
 'nan': 5408,
 'Sci-Fi': 3365,
 'Adventure': 6465,
 'Short': 11,
 'Comedy': 25312,
 'Horror': 10805,
 'Biography': 8722,
 'Action': 10335,
 'Documentary': 51640,
 'Romance': 9372,
 'Mystery': 4659,
 'Game-Show': 4,
 'Talk-Show': 50,
 'Musical': 1430,
 'Family': 6227,
 'News': 1551,
 'Adult': 25,
 'Music': 4314,
 'Sport': 2234,
 'Drama': 49883,
 'Fantasy': 3516,
 'Western': 467,
 'War': 1405,
 'Animation': 2799,
 'Crime': 6753}

In [45]:
sorted_genres = {keys: values for keys, values in sorted(genre_dict.items(), key = lambda item: item[1], reverse = True)}

In [48]:
sorted_genres

{'Documentary': 51640,
 'Drama': 49883,
 'Comedy': 25312,
 'Thriller': 11883,
 'Horror': 10805,
 'Action': 10335,
 'Romance': 9372,
 'Biography': 8722,
 'Crime': 6753,
 'Adventure': 6465,
 'Family': 6227,
 'History': 6225,
 'nan': 5408,
 'Mystery': 4659,
 'Music': 4314,
 'Fantasy': 3516,
 'Sci-Fi': 3365,
 'Animation': 2799,
 'Sport': 2234,
 'News': 1551,
 'Musical': 1430,
 'War': 1405,
 'Western': 467,
 'Reality-TV': 98,
 'Talk-Show': 50,
 'Adult': 25,
 'Short': 11,
 'Game-Show': 4}